form
  div.fancy-checkbox
    input.fcb-control#demo-checkbox-1(type="checkbox")
    label.fcb-visual(for="demo-checkbox-1")
      i
      span.fcb-label Demo Checkbox 1
      div.clear

  div.fancy-checkbox
    input.fcb-control#demo-checkbox-2(type="checkbox", checked)
    label.fcb-visual(for="demo-checkbox-2")
      span.fcb-label Demo Checkbox 2
      i
      div.clear
      
form
  div.fancy-radio
    input.fcb-control#demo-radio-1(type="radio", name="demogroup")
    label.fcb-visual(for="demo-radio-1")
      i
      span.fcb-label Demo Radio 1
      div.clear

  div.fancy-radio
    input.fcb-control#demo-radio-2(type="radio", name="demogroup", checked)
    label.fcb-visual(for="demo-radio-2")
      i
      span.fcb-label Demo Radio 2
      div.clear

  div.fancy-radio
    input.fcb-control#demo-radio-3(type="radio", name="demogroup")
    label.fcb-visual(for="demo-radio-3")
      i
      span.fcb-label Demo Radio 3
      div.clear